$light-gray: #e0e5e9;
$dark-gray: #555555;

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    li {
        margin: 0;
        padding: 0;
        list-style-type: none;
    }
}

@mixin small-caps {
    font-family: "Titillium Web", "Lato", helvetica, sans-serif;
    font-size: 10px;
    letter-spacing: 1px;
    line-height: 35px;
    text-transform: uppercase;
}

@mixin no-select {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
}

@mixin text-select {
    -webkit-touch-callout: text;
    -webkit-user-select: text;
    -khtml-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
    cursor: default;
}

@mixin transition($property, $duration, $timing-function) {
    -webkit-transition: $property $duration $timing-function;
    -moz-transition: $property $duration $timing-function;
    -o-transition: $property $duration $timing-function;
    transition: $property $duration $timing-function;
}

@mixin opacity-transition { @include transition(opacity, 0.1s, ease-in) }
@mixin border-transition { @include transition(border, 0.1s, ease-in) }
@mixin color-transition { @include transition(color, 0.1s, ease-in) }
@mixin background-transition { @include transition(background, 0.1s, ease-in) }

@mixin nudge {
    cursor: pointer;
    position: relative;
    &:hover { bottom: 1px; }
}

@font-face {
    font-family: 'Neutral';
    font-style: normal;
    font-weight: bold;
    src: url('assets/fonts/neutral-bold-3.eot') format('eot'), url('assets/fonts/neutral-bold-3.woff') format('woff');
}

@font-face {
    font-family: 'Neutral';
    font-style: normal;
    font-weight: 500;
    src: url('assets/fonts/neutral-medium-3.eot') format('eot'), url('assets/fonts/neutral-medium-3.woff') format('woff');
}

@font-face {
    font-family: 'Neutral';
    font-style: normal;
    font-weight: 300;
    src: url('assets/fonts/neutral-regular-3.eot') format('eot'), url('assets/fonts/neutral-regular-3.woff') format('woff');
}

select {
    font-family: "Titillium Web","Lucida Grande","Lucida Sans",sans-serif;
}

// Universal Link Styling
a {
    text-decoration: none !important;
    color: black;
    // border-bottom: 1px solid black;

    &.no-border {
        border-bottom: none;
    }
}

*, *:before, *:after {
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

.wrapper {
    min-height: 100%;
}

html, body {
    margin: 0;
    padding: 0;

    color: black;
    font-size: 16px;
    font-family: 'Helvetica', Arial, Sans Serif;
    font-weight: 300;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    background-size: cover;
    background: white;

    font-family: "Titillium Web","Lucida Grande","Lucida Sans",sans-serif;
}

header {
    position: fixed;
    width: 100%;
    padding: 20px 0;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    background-color: #1b2032;
    color: white;
    z-index: 10000;
}

.section {
    @include opacity-transition;
    background-color: white;
    position: relative;
    // -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.75);
    // -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.75);
    // box-shadow: 0 1px 5px rgba(0, 0, 0, 0.75);
    border: 1px solid $dark-gray;
    border-radius: 2px;
    min-height: 150px;
    max-width: 700px;
    margin: 0 auto 10px auto;

    @include no-select;
    opacity: 0.3;
    &.active {
        opacity: 1.0;
    }

    div.step {
        position: absolute;
        left: -45px;
        font-weight: bold;
        font-size: 40px;
    }

    span.number {
        position: relative;
        left: -50px;
        font-size: 60px;
        float: left;
        display: inline;
    }

    div.row-label {
        @include small-caps;
        height: 20px;
        text-align: center;
        padding-top: 20px;
        padding-bottom: 30px;
        border-bottom: 1px solid $light-gray;
    }
    ul {
        width: 100%;
        display: block;
        overflow-x: auto;
        li {
            width: 30%;
            margin-left: 2.5%;
            float: left;
            div.label {
                @include small-caps;
                text-align: center;
            }
            select {
                width: 100%;
            }
        }
    }
}

@keyframes spinner {
    to {transform: rotate(360deg);}
}

@-webkit-keyframes spinner {
    to {-webkit-transform: rotate(360deg);}
}

.spinner {
    min-width: 24px;
    min-height: 24px;
}

.spinner:before {
    content: 'Loading…';
    position: absolute;
    // top: 50%;
    // left: 50%;
    width: 16px;
    height: 16px;
    margin-top: 4px;
    margin-left: -7px;
}

.spinner:not(:required):before {
    content: '';
    border-radius: 50%;
    border: 2px solid rgba(0, 0, 0, .3);
    border-top-color: rgba(0, 0, 0, .6);
    animation: spinner .6s linear infinite;
    -webkit-animation: spinner .6s linear infinite;
}
div.wrapper {
    padding-top: 250px;
    padding-bottom: 250px;
    div.title {
        text-align: center;
        width: 100%;
        padding-top: 20px;
        padding-bottom: 10px;
    }
}

div.input-container {
    margin: 0 auto;
    margin-top: 20px;
    width: 600px;

    input {
        float: left;
        width: 490px;
        height: 37px;
    }
    div.button {
        float: right;
    }
}

    div.button {
        text-align: center;
        cursor: pointer;
        border: 1px solid $light-gray;
        width: 100px;
        padding: 5px 10px;

        &:hover {
            background-color: $light-gray;
        }

        &:active {
            background-color: $dark-gray;
        }

        // &:hover {
        //     background-color: black;
        //     color: white;
        // }
    }

div.network {
    min-width: 600px;
    &.max-width {
        max-width: 95%;
    }
    div#viz {
        width: 100%;
        height: 500px;
    }
    div.logo {
        position: absolute;
        bottom: 60px;
        right: 5px;
    }

    div.button {
        margin: 20px auto 10px auto;
    }
}

div.export {
    div.label {
        margin: 0 auto;
        text-align: center;
    }
    input {
        display: block;
        margin: 0 auto;
        width: 490px;
        height: 37px;
    }
}

div.embed {
    width: 100%;
    height: 100%;
    div#viz {
        width: 100%;
        height: 500px;
    }
    div.logo {
        position: absolute;
        bottom: 60px;
        right: 5px;
    }
}
