<html ng-app="app" lang="en">
    <head>
    	<base href="/" />
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Node Mapper</title>

        <link href='http://fonts.googleapis.com/css?family=Titillium+Web:400,400italic,300italic,300,600,600italic' rel='stylesheet' type='text/css'>
        <script src="lib/angular.min.js"></script>    
        <script src="lib/tabletop.js"></script>  
        <script src="lib/d3.js"></script>  
        <script src="lib/d3plus.full.min.js"></script>     
        <link rel="stylesheet" href="styles.css">
    </haed>
    <body>
        <header>
            <div class="title">
                Node Mapper
            </div>
        </header>
    	<div class="wrapper">        
            <div ng-controller="projectCtrl">
                <div class="input section" ng-class="{'active': (stage >= 0)}">
                    <div class="title">1. Upload a Google Spreadsheet</div>
                    <div class="input-container">
                        <input
                        type="text"
                        ng-model="url"
                        required="true"
                        select-on-click>
                        </input>
                        <div class="button" ng-click="getData(url)">
                            <div class="text" ng-if="!loading">
                                Load Data
                            </div>
                            <div class="spinner" ng-if="loading"></div>
                        </div>
                    </div>
<!--                     <div class="data-preview" ng-if="data">
                        <div>Data: {{data.Data.elements}}</div>
                        <div>Nodes: {{data.Nodes.elements}}</div>
                        <div>Connections: {{data.Connections.elements}}</div>
                    </div> -->
                </div>
                <div class="config section" ng-class="{'active': (stage >= 1)}">
                    <div class="title">2. Configure</div>
                    <div class="row-label">Node Properties</div>
                    <ul>
                        <li>
                            <div class="label">Node Label</div>
                            <select ng-options="n for n in nodeAttributes" ng-model="config.sNodeLabel"></select>
                        </li>
                        <li>
                            <div class="label">Node Color</div>
                            <select ng-options="n for n in nodeAttributes" ng-model="config.sNodeColor"></select>
                        </li>
                        <li>
                            <div class="label">Node Size</div>
                            <select ng-options="n for n in nodeAttributes" ng-model="config.sNodeSize"></select>
                        </li>
                    </ul>
                    <div class="row-label">Edge Properties</div>
                    <ul>
                        <li>
                            <div class="label">Edge Label</div>
                            <select ng-options="c for c in connectionAttributes" ng-model="config.sEdgeLabel"></select>
                        </li>
                        <li>
                            <div class="label">Edge Thickness</div>
                            <select ng-options="c for c in connectionAttributes" ng-model="config.sEdgeThickness"></select>
                        </li>
                        <li>
                            <div class="label">Edge Opacity</div>
                            <select ng-options="c for c in connectionAttributes" ng-model="config.sEdgeOpacity"></select>
                        </li>
                    </ul>
                    <div class="row-label">General Properties</div>
                    <ul>
                        <li>
                            <div class="label">Width</div>
                            <input
                                type="text"
                                ng-model="config.width"
                                required="true"
                            >
                            </input>
                        </li>
                        <li>
                            <div class="label">Height</div>
                            <input
                                type="text"
                                ng-model="config.height"
                                required="true"
                            >
                            </input>
                        </li>
                        <li>
                            <div class="label">Font Size</div>
                            <select ng-options="s for s in fontSizes" ng-model="config.sFontSize"></select>
                        </li>
                    </ul>
                </div>
                <div class="network section" ng-class="{'active': (stage >= 1)}">
                    <network data="data" config="config">
                        <div class="title">3. Visualize Network</div>
                        <div class="full-viz">
                            <div id="viz">
                            </div>
                            <div class="logo">
                                <a href="/" target="_blank">
                                    Node Mapper
                                </a>
                            </div>
                        </div>
                    </network>
                </div>
                <div class="export section" ng-class="{'active': (stage >= 1)}">
                    <div class="title">4. Export or embed</div>
                        <div class="label">URL</div>
                        <input ng-model="embedURL" select-on-click></input>
                        <div class="label">HTML</div>
                        <input ng-model="embedHTML" select-on-click></input>
                    </div>
            </div>
        </div>
        <script src="app.js"></script>
    </body>
</html>