<html ng-app="app" lang="en">
    <head>
    	<base href="/" />
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Node Mapper</title>
        <link href='http://fonts.googleapis.com/css?family=Titillium+Web:400,400italic,300italic,300,600,600italic' rel='stylesheet' type='text/css'>
        <script src="lib/array.prototype.findIndex.js"></script>
        <script src="lib/angular.min.js"></script>
        <script src="lib/tabletop.js"></script>
        <script src="lib/d3.js"></script>
        <script src="lib/lodash.min.js"></script>
        <script src="lib/cola.v3.min.js"></script>
        <link rel="stylesheet" href="styles.css">
    </haed>
    <body>
        <header>
            <div class="title">
                Node Mapper
            </div>
        </header>
    	<div class="wrapper">
            <div ng-controller="projectCtrl">
                <div class="input section">
                    <div class="title">1. Upload a Google Spreadsheet</div>
                    <div class="input-container">
                        <input
                        type="text"
                        ng-model="url"
                        required="true">
                        </input>
                        <div class="button" ng-click="getData(url)">
                            Load Data
                        </div>
                    </div>
<!--                     <div class="data-preview" ng-if="data">
                        <div>Data: {{data.Data.elements}}</div>
                        <div>Nodes: {{data.Nodes.elements}}</div>
                        <div>Connections: {{data.Connections.elements}}</div>
                    </div> -->
                </div>
                <!-- <div class="config section"> -->
                <!--     <div class="title">2. Configure</div> -->
                <!--     <ul> -->
                <!--         <li> -->
                <!--             <div class="label">Node Label</div> -->
                <!--             <select ng-options="n for n in nodeAttributes" ng-model="selected"></section> -->
                <!--         </li> -->
                <!--         <li> -->
                <!--             <div class="label">Node Color</div> -->
                <!--             <select ng-options="n for n in nodeAttributes" ng-model="selected"></section> -->
                <!--         </li> -->
                <!--         <li> -->
                <!--             <div class="label">Node Size</div> -->
                <!--             <select ng-options="n for n in nodeAttributes" ng-model="selected"></section> -->
                <!--         </li> -->
                <!--         <li> -->
                <!--             <div class="label">Edge Label</div> -->
                <!--             <select ng-options="c for c in connectionAttributes" ng-model="selected"></section> -->
                <!--         </li> -->
                <!--         <li> -->
                <!--             <div class="label">Edge Thickness</div> -->
                <!--             <select ng-options="c for c in connectionAttributes" ng-model="selected"></section> -->
                <!--         </li> -->
                <!--         <li> -->
                <!--             <div class="label">Edge Opacity</div> -->
                <!--             <select ng-options="c for c in connectionAttributes" ng-model="selected"></section> -->
                <!--         </li> -->
                <!--     </ul> -->
                <!-- </div> -->
                <div class="network section">
                    <network data="data">
                        <div class="title">3. Visualize Your Network</div>
                        <div id="viz" visualization data="data">
                        </div>
                    </network>
                </div>
                <div class="export section">
                    <network data="data">
                        <div class="title">4. Export or Embed</div>
                        <div id="viz" visualization data="data">
                        </div>
                    </network>
                </div>
            </div>
        </div>
        <script src="app.js"></script>
    </body>
</html>
